FORMAT: A1
# {{ api_name }}

{{# sections }}

# Group {{ resource_name }}
{{# resource_explanation }}

{{{ resource_explanation }}}
{{/ resource_explanation }}
{{# description }}

{{ description }}
{{/ description }}
{{# routes }}

## {{ route_name }} [{{ route }}]
{{# description }}

description: {{ description }}
{{/ description }}
{{# explanation }}

explanation: {{ explanation }}
{{/ explanation }}
{{# has_parameters? }}

+ Parameters
{{# parameters }}
  + {{ name }}{{# example }}: {{ example }}{{/ example }}{{# properties_description }} ({{ properties_description }}){{/ properties_description }}{{# description }} - {{ description }}{{/ description }}
{{/ parameters }}
{{/ has_parameters? }}
{{# has_attributes? }}

+ Attributes (object)
{{# attributes }}
  + {{ name }}{{# example }}: {{ example }}{{/ example }}{{# properties_description }} ({{ properties_description }}){{/ properties_description }}{{# description }} - {{ description }}{{/ description }}
{{/ attributes }}
{{/ has_attributes? }}
{{# http_methods }}

### {{ description }} [{{ http_method }}]
{{# examples }}
{{# requests }}
{{# has_request? }}

+ Request {{ description }}{{# request_content_type }} ({{ request_content_type }}){{/ request_content_type }}
{{/ has_request? }}
{{# request_headers_text }}

    + Headers

        {{{ request_headers_text }}}
{{/ request_headers_text }}
{{# request_body }}

    + Body

        {{{ request_body }}}
{{/ request_body }}
{{# has_response? }}

+ Response {{ response_status }} ({{ response_content_type }})
{{/ has_response? }}
{{# response_headers_text }}

    + Headers

        {{{ response_headers_text }}}
{{/ response_headers_text }}
{{# response_body }}

    + Body

        {{{ response_body }}}
{{/ response_body }}
{{/ requests }}
{{/ examples }}
{{/ http_methods }}
{{/ routes }}
{{/ sections }}
